    :root {
    --primary-color: #780000;
    --second-color: #c1121f;
    --third-color: #fdf0d5;
    --fourth-color: #003049;
    --fifth-color: #669bbc;
}

@media (max-width:780px) {

    body {
        background-size: cover;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 76px;
        left: 0;
        background-color: var(--fifth-color);
        align-content: center;
        display: none;
        width: 100%; 
    }

    nav.active {
        display: flex;
    }

     #menu {
        display: block;
    }
     
    nav a {
        color: var(--third-color);
        transition: 0.1s;
    }

    nav a:hover {
        color: var(--third-color);
        width: 100%;
        background-color: var(--fourth-color);
    }
}


@media (max-width: 900px) {
    body {
        grid-template-rows: 80px 3100px 90px;
    }
    #card {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    body {
        grid-template-rows: 80px 5400px 90px;
    }

    #card {
        grid-template-columns: 1fr; 
    }
}